In [1]:
from google.cloud import bigquery
import pandas as pd

url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
usecols = ["iso_code","location","date","population",
           "total_cases","new_cases","total_deaths","new_deaths",
           "people_vaccinated","people_fully_vaccinated","total_boosters"]

client = bigquery.Client()
table_id = "charged-city-421819.covid.owid"

for i, chunk in enumerate(pd.read_csv(url, usecols=usecols, parse_dates=["date"], chunksize=200_000)):
    job = client.load_table_from_dataframe(
        chunk, table_id,
        job_config=bigquery.LoadJobConfig(
            write_disposition="WRITE_TRUNCATE" if i == 0 else "WRITE_APPEND"
        ),
    )
    job.result()

print("Loaded rows:", client.get_table(table_id).num_rows)

/home/paunica/.local/lib/python3.8/site-packages/google/cloud/bigquery/_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(
/home/paunica/.local/lib/python3.8/site-packages/google/cloud/bigquery/_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(
/home/paunica/.local/lib/python3.8/site-packages/google/cloud/bigquery/_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

Loaded rows: 429435

In [2]:
from google.cloud import bigquery
client = bigquery.Client()

QUERY = """
SELECT
  location,
  DATE(date) AS d,
  SAFE_DIVIDE(new_cases, population/1e6) AS new_cases_pm,
  AVG(SAFE_DIVIDE(new_cases, population/1e6)) OVER (
    PARTITION BY location ORDER BY DATE(date)
    ROWS BETWEEN 6 PRECEDING AND CURRENT ROW
  ) AS ma7_pm
FROM `charged-city-421819.covid.v_three_countries`
WHERE date IS NOT NULL
"""
df = client.query(QUERY).result().to_dataframe()
df.head()

  location           d  new_cases_pm    ma7_pm
0  Germany  2020-01-05      0.011995  0.011995
1  Germany  2020-01-06      0.000000  0.005997
2  Germany  2020-01-07      0.000000  0.003998
3  Germany  2020-01-08      0.000000  0.002999
4  Germany  2020-01-09      0.000000  0.002399

In [3]:
# how many rows and date range
bq --location=EU query --use_legacy_sql=false '
  SELECT COUNT(*) rows,
         MIN(DATE(date)) min_d,
         MAX(DATE(date)) max_d
  FROM `charged-city-421819.covid.owid`;'

SyntaxError: invalid syntax (3281367105.py, line 2)